.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    border: 1px solid black;
    padding: 12px;
    border-radius: 22px;
    box-shadow: 5px 5px 5px grey;
}

form div{
    margin: 8px;
}

div button {
    margin: 8px;
}